<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participacion director</title>
    <link rel="stylesheet" href="./../css/app.css">
</head>
<body class="body bg-principal">
    <header>
        <h1>Ingresar Participacion</h1>
    </header>

    <main class="bg-blur">
        <h2>Ingrese la pelicula</h2>

        <form class="form" action="/datos_par_dir_pelicula2">
            <fieldset class="campo">
                <label for="titulo">Titulo</label>
                <input type="text" name="t" id="titulo" required>
            </fieldset>
            
            <input class="btn-submit" type="submit" name="s" id="" value="Buscar">
        </form>
            <% if (errors.status && errors.place === "datos_par_dir_pelicula") { %>
                <p class="error-message"><%=errors.message%></p>
            <% } %>

            <a class="link-home" href="\home">home</a>
    </main>

    <script src="../js/error-message.js"></script>
</body>
</html>