<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Actor</title>
    <link rel="stylesheet" href="./../css/app.css">
</head>
<body class="body bg-principal">
    <header>
        <h1>Agregar Actor</h1>
    </header>

    <main class="menu bg-blur">
        <form class="form" action="/datos_actor2">
            <fieldset class="campo">
                <label for="nombre">Nombre del participante</label>
                <input type="text" name="nombre" id="nombre" required placeholder="Bruce Willis">
            </fieldset>

            <input class="btn-submit" type="submit" value="Buscar">

            <% if (errors.status && errors.place === "datos_actor") { %>
                <p class="error-message"><%=errors.message%></p>
            <% } %>

        </form>
        <a class="link-home" href="\home">Home</a>
    </main>


    <script src="../js/error-message.js"></script>
</body>
</html>