<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="body bg-principal">
    <header>
        <h1>Elige que quieres eliminar</h1>
    </header>

    <main class="menu bg-blur">
        <nav class="menu-opciones">
            <a class="btn" href="/eliminar_pelicula">Pelicula</a>
            <a class="btn" href="/eliminar_participante">Participante</a>
            <a class="btn" href="/eliminar_actor">Actor</a>
            <a class="btn" href="/eliminar_dir">Director</a>
            <a class="btn" href="/eliminar_par_act">Participacion de un actor en pelicula</a>
            <a class="btn" href="/eliminar_par_dir">Participacion de un director en pelicula</a>
            <a class="btn" href="/eliminar_gala">Gala</a>
            <a class="btn" href="/eliminar_nominacion">Nominaciones</a>
            <a class="btn" href="/eliminar_tribunal">Tribunal</a>
                    </nav>

        <!--Regresar al home-->
        <a class="link-home" href="/home">Home</a>
    </main>
</body>
</html>