<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/app.css">
    <title>HOME</title>
</head>
<body class="body bg-principal">
    <header>
        <h1>Home</h1>
    </header>

    <main class="menu bg-blur">
        <h2>Eliga la opcion que desee</h2>

        <nav class="menu-opciones">

            <a class="btn" href="/insertar">Insertar</a>


            <a class="btn" href="/modificar">Modificar</a>



            <a class="btn" href="/eliminar">Eliminar</a>

        </nav>
    </main>
</body>
</html>