<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/app.css">
    <title>Insertar Menu</title>
    
</head>
<body class="body bg-principal">
    <header>
        <h1>Menu de Insertar</h1>
    </header>

    <main class="menu bg-blur">
        <h2>Eliga la opcion que desee</h2>
        <nav class="menu-opciones">
            <a class="btn" href="/datos_pelicula">Pelicula</a>
            <a class="btn" href="/datos_participante">Participante</a>
            <a class="btn" href="/datos_actor">Actor</a>
            <a class="btn" href="/datos_dir">Director</a>
            <a class="btn" href="/datos_par_act_pelicula">Participacion de un actor en pelicula</a>
            <a class="btn" href="/datos_par_dir_pelicula">Participacion de un director en pelicula</a>
            <a class="btn" href="/datos_gala">Gala</a>
            <a class="btn" href="/datos_nominaciones">Nominaciones</a>
            <a class="btn" href="/datos_tribunal">Tribunal</a>
        </nav>

        <!--Regresar al home-->
        <a class="link-home" href="/home">Home</a>
    </main>
</body>
</html>